.lista {
    cursor: pointer;
    padding-left: 35px;
    margin: 3px;
    background-color: #7da8e7;
    color: white;
    font-size: larger;
}

.lista:hover {
    background-color: #0D6EFD;
}

.active {
    background-color: #0D6EFD;
}

.baItem {
    cursor: pointer;
}