<app-header></app-header>

<div class="container">
    
    <h3 class="m-3 fw-bold">Business Assistant</h3>

    <div class="row">
        <div class="col-6">

            <ul class="list-group ms-5 ps-3" *ngFor="let list of listado; let i=index">
                <li class="list-group-item list-group-item-primary py-3 fw-bold"
                    [class] = 'cambioClase(list)'
                    (click)="open(list)"
                    >
                    {{(i+1)+'. '+list}}</li>  
            </ul>
        </div>
        <div class="col-6">
            <div class="card h-100">
                <div class="card-body">
                  This is some text within a card body.
                </div>
                <div>
                    <button class="btn btn-success float-end m-4 px-5">Guardar</button>
                </div>
              </div>
        </div>
    </div>

</div>
