

<app-header></app-header>

<div class="container">
    <div class="row ">
      <div class="col m-5">
       <div class="p-3 border bg-light">
           <h2 class=" text-success">Búsqueda por zona</h2>

        <ul class=" text-dark">
            
           <li><strong>Ciutat Vella</strong></li>
            <li><strong>Eixample</strong> </li>
            <li><strong>Sants - Montjuic</strong> </li>
            <li><strong>Les Corts</strong> </li>
            <li><strong> Sarria - Sant Gervasi</strong> </li>
            <li><strong>Gràcia</strong> </li>
            <li><strong> Horta - Guinardó</strong> </li>
            <li><strong>Nou Barris</strong> </li>
            <li><strong>Sant Andreu</strong> </li>
            <li><strong>Sant Martí</strong> </li>
        </ul>
       </div>
       

      </div>
      <div class="col m-5">
        <div class="p-3 border bg-light">
            <h2 class=" text-primary">Actividad económica</h2>
 
         <ul class=" text-dark">
            
            <li><strong>Téxtil para el hogar</strong></li>
             <li><strong>Impresoras</strong></li>
             <li><strong>Informática y telecomunicaciones</strong></li>
             <li><strong>Téxtil para el hogar</strong></li>
             <li><strong>Impresoras</strong></li>
             <li><strong>Informática y telecomunicaciones</strong></li>
             <li><strong>Téxtil para el hogar</strong></li>
             <li><strong>Impresoras</strong></li>
             <li><strong>Informática y telecomunicaciones</strong></li>
             <li><strong>Téxtil para el hogar</strong></li>
          
          
           
         </ul>
        </div>
        
 
       </div>
    </div>
  </div>

               

<app-footer></app-footer>