<div class=" middle-section">
    <div class="container text-center">
        <div class="text-container">
            <div class="row">
                <div class="col-md icon-container ">
                    <span class="icon-span">
                        <img class="icon-size" [src]="todayIcon">
                        <p class="icon-text">{{'components.info-nav.section1.title' | translate}}</p>
                    </span>
                </div>
                <div class="col-md icon-container-people">
                    <span class="icon-span">
                        <img class="icon-size" [src]="peopleIcon">
                        <p class="icon-text">{{'components.info-nav.section2.title'| translate}}</p>
                    </span>
                </div>
                <div class="col-md icon-container-trophy ">
                    <span class="icon-span">
                        <img class="icon-size" [src]="trophyIcon">
                        <p class="icon-text">{{'components.info-nav.section3.title' | translate}}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>