 .text-container {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 .icon-container {
     background-color: #74b2f0;
     height: 100px;
 }

 .icon-container-people {
     background-color: #2871CC;
     height: 100px;
 }

 .icon-container-trophy {
     background-color: #1c2841;
     height: 100px;
 }


 .icon-span {
     height: 100px;
     display: flex;
     flex-direction: row;
     /* justify-content: center; */
     align-items: center;

 }

 .icon-size {
     width: 50px;
     height: 50px;
 }

 .icon-text {
     font-size: 1.3em;
     color: #FFFFFF;
     margin-bottom: 0;
     padding-top: 3%;
     width: 60%;
     padding-left: 2%;
 }

 .middle-section {
     background-color: #DDDDDD;
     height: 225px;
 }

 @media(max-width:768px) {
     .icon-span {
         height: 100px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;

     }
 }