<div class=" middle-section">
    <div class="container text-center">
        <div class="text-container">
            <div class="row">
                <div class="col-md icon-container ">
                    <span class="icon-span">
                        <img class="icon-size" [src]="todayIcon">
                        <p class="icon-text">Consigue una planificación eficaz</p>
                    </span>
                </div>
                <div class="col-md icon-container-people">
                    <span class="icon-span">
                        <img class="icon-size" [src]="peopleIcon">
                        <p class="icon-text">Respaldo de expertos</p>
                    </span>
                </div>
                <div class="col-md icon-container-trophy ">
                    <span class="icon-span">
                        <img class="icon-size" [src]="trophyIcon">
                        <p class="icon-text">Con experiencia en gestión de equipos</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>