.main-container {
    margin: 0px;
    padding: 0px;
    display: flex;

}

.text-container {
    display: flex;
    width: 100%;
    padding: 5%;
}

.text {
    margin-left: 10%;
    width: 60%;
    padding-left: 5%;
}

.bt-container {
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-l {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #82b74b;
    color: white;
    margin: 5px;
}

.button-r {
    font-size: 1em;
    padding: 10px 20px;
    background-color: #034f84;
    color: white;
    margin: 5px;
}

.p-size {
    font-size: 1.15em;
}


@media (min-width: 768px) {
    .row>* {
        padding-left: 0;
        padding-right: 0;
    }

    .img-size {
        width: 100%;
        height: auto;
    }

    /* .main-container {
        height: 300px;
        width: 100%;
    }

    .text-container {}

    .p-size {
        font-size: 0.9em;
    } */
}

@media (max-width: 768px) {
    .text-container {
        padding-bottom: 0;
        padding-top: 1%;
    }

    .text {
        margin: 0;
        width: 100%;
        /* padding-left: 2%; */
        /* padding-bottom: 0; */
        ;
    }

    .p-size {
        font-size: 0.9em;
    }

    .button-l {
        font-size: 0.9em;
        padding: 8px 20px;
        background-color: #82b74b;
        color: white;
        margin: 5px;
    }

    .button-r {
        font-size: 0.9em;
        padding: 8px 20px;
        background-color: #034f84;
        color: white;
        margin: 5px;
    }
}