.main-container {
    margin: 0px;
    padding: 0px;

}

.img-size {

    width: 100%;
    height: 600px;
}

@media (min-width: 768px) {
    .row>* {
        padding-left: 0;
        padding-right: 0;
    }
}