<!--Header/Navbar-->
<app-header></app-header>

<div class="container-fluid mt-0 main-container">
    <div class="row align-items">
        <div class="col-lg-6 col-md-12 main-content">
            <div class="h-100  text-white bg-dark text-container ">
                <section class="text">
                    <div class="">
                        <h2>{{'pages.home-page.section1.title'| translate}}</h2>
                        <h2>{{'pages.home-page.section2.title'| translate}}</h2>
                        <p class="p-size">{{'pages.home-page.section3.title'| translate}}
                        </p>
                    </div>
                    <div class="bt-container">
                        <button routerLink="/virtual-assistant" class="button-l btn-effect-l"
                            type="button">{{'common.button.assistant'| translate}}</button>
                        <button [routerLink]="['/my-environment']" class="button-r btn-effect-r"
                            type="button">{{'common.button.my-enviroment'| translate}}</button>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 main-content">
            <div class="h-100 bg-light">
                <img class=" img-size img-fluid" [src]=" mainHomeImage">
            </div>
        </div>

    </div>
</div>
<!--Aditional information Nav for clients-->
<app-information-nav></app-information-nav>

<app-virtual-assistant></app-virtual-assistant>

<!--Footer-->
<app-footer></app-footer>
