<div class="virtual-container">
    <div class="row  d-flex
    justify-content-center">
        <div class="col-md-6 py-0 text-container">
            <div class="">
                <div class=" text-center">
                    <div class="virtual-container">
                        <h3 class="title-info">{{'components.virtual-assistant.section1.title' | translate}} </h3>
                        <p class="p-info">{{'components.virtual-assistant.section2.title' | translate}}</p>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <div class="col-md-6 icon-container">
                            <picture routerLink="/virtual-assistant" class="icon-span">
                                <source class="img-size img-fluid" intersect-obs
                                    data-srcset="/assets/img/commerce-and-shopping.png" media="(min-width: 501px)">
                                <source class="img-size img-fluid" intersect-obs
                                    data-srcset="/assets/img/commerce-and-shopping_75x75.png" media="(max-width:500px)">
                                <img class="icon-size" [src]="">
                                <p class="icon-title">{{'common.button.assistant' | translate}}</p>
                            </picture>
                            <picture routerLink="/my-environment" class="icon-span">
                                <source class="img-size img-fluid" intersect-obs data-srcset="/assets/img/buildings.png"
                                    media="(min-width: 501px)">
                                <source class="img-size img-fluid" intersect-obs
                                    data-srcset="/assets/img/buildings_75x75.png" media="(max-width:500px)">
                                <img class="icon-size" [src]="">
                                <p class="icon-title">{{'common.button.my-enviroment' | translate}}</p>
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>