<!-- MAIN CONTAINER -->
<div class="component-container" 
    [ngClass]="
        containerIsActive ? 
        'mat-elevation-z' + containerElevationActive 
        : 'mat-elevation-z' + containerElevationInactive "
    [ngStyle]="{
        backgroundColor: getContainerBackgroundColor, 
        height: getContainerHeigh
    }">

    <!-- CONTENT -->
    <div class="content-container"
        [ngStyle]="{ 'padding': containerInnerPadding }">
            <ng-content></ng-content>
    </div>
    <!-- END CONTENT -->

    <!-- BUTTONS -->
    <div class="buttons-container"
        [ngStyle]="{
            backgroundColor: getButtonsContainerBackgroundColor, 
            gap: getButtonsContainerGap,
            padding: getButtonsContainerPadding
        }">

            <!-- Primary Button -->
            <button mat-raised-button [disabled]="mainButtonDisabled" [color]="mainButtonBackground"
                (click)="onMainButtonClick()">
                {{ mainButtonText }}
            </button>

            <!-- Secondary Button -->
            <button mat-raised-button [disabled]="secondaryButtonDisabled" [color]="secondaryButtonBackground"
                (click)="onSecondaryButtonClick()">
                {{ secondaryButtonText }}
            </button>

    </div>
    <!-- END BUTTONS -->

</div>
<!-- END MAIN CONTAINER -->