.component-container {
    width           : 100%;
    display         : flex;
    flex-direction  : column;
}

.content-container {
    flex-grow: 1;
    overflow : auto;
}

.buttons-container {
    display         : flex;
    flex-direction  : row-reverse;
    justify-content : flex-start;
}