<div class="component-container mat-elevation-z4">

    <!-- Content -->
    <div class="content-container">
        <ng-content></ng-content>
    </div>

    <!-- Buttons -->
    <div class="buttons-container">

        <!-- Primary Button -->
        <button mat-raised-button [disabled]="mainButtonDisabled" [color]="mainButtonBackground"
            (click)="onMainButtonClick()">
            {{ mainButtonText }}
        </button>

        <!-- Secondary Button -->
        <button mat-raised-button [disabled]="secondaryButtonDisabled" [color]="secondaryButtonBackground"
            (click)="onSecondaryButtonClick()">
            {{ secondaryButtonText }}
        </button>

    </div>

</div>