<!--Header/Navbar-->
<app-header></app-header>

<div class="virtual-container">
    <div class="">
        <div class="col-md-6 py-0 text-container">
            <div class="">
                <div class="container mt-1 mb-4 d-flex justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-4 border-right">
                            <div class="cards" routerLink="/my-environment-search" (click)="setCurrentBusiness('large-establishments')">
                                <div class="first bg-white p-4 text-center"> 
                                    <img class="icon-size btn"
                                        [src]=" largeEstablishment"
                                        type="button"
                                    >
                                    <h5>{{'common.button.big-stablish' | translate}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="cards" routerLink="/my-environment-search" (click)="setCurrentBusiness('commercial-galleries')">
                                <div class=" second bg-white p-4 text-center"> <img class="icon-size"
                                        [src]=" shoppingMall">
                                    <h5>{{'common.button.gallery-market' | translate}}</h5>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cards" routerLink="/my-environment-search"(click)="setCurrentBusiness('big-malls')">
                                <div class=" third bg-white p-4 text-center"> <img class="icon-size"
                                        [src]=" shoppingCart">
                                    <h5>{{'common.button.mall' | translate}}</h5>

                                </div>
                            </div>
                        </div>
                        <div class="d-md-flex justify-content-center ">
                            <div class="col-md-4">
                                <div class="cards" routerLink="/my-environment-search" (click)="setCurrentBusiness('municipal-markets')">
                                    <div class=" third bg-white p-4 text-center"> <img class="icon-size"
                                            [src]="   commercialMarket ">
                                        <h5>{{'common.button.public-market' | translate}}</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cards" routerLink="/my-environment-search" (click)="setCurrentBusiness('market-fairs')">
                                    <div class=" third bg-white p-4 text-center"><img class="icon-size"
                                            [src]=" fairMarkets">
                                        <h5>{{'common.button.market-fair' | translate}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Footer-->
<app-footer></app-footer>
