
.icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-size {
  height: 125px;
  padding: 12px;
}

.icon-text {
  font-weight: 700;
  font-size: 1.2em;
}

@media(max-width:768px){
  .d-flex {
    flex-direction: none;
  }
}
