<!--Header/Navbar-->
<app-header></app-header>

<div class="virtual-container">
    <div class="col-md-6 py-0 text-container">
        <div class="icon-container">
            <span class="icon-span">
                <img class="icon-size" [src]=" bigStablihsments">
                <span class="icon-text">Grandes Establecimientos</span>
            </span>
            <span class="icon-span">
                <img class="icon-size" [src]=" shoppingMall">
                <span class="icon-text">Galerías Comerciales</span>
            </span>
            <span class="icon-span">
                <img class="icon-size" [src]=" shoppingCart">
                <span class="icon-text">Centros Comerciales</span>
            </span>
            <span class="icon-span">
                <img class="icon-size" [src]="   comercialMarket ">
                <span class="icon-text">Mercados Municipales</span>
            </span>
            <span class="icon-span">
                <img class="icon-size" [src]=" fairMarkets">
                <span class="icon-text">Mercados y Ferias</span>
            </span>
        </div>
    </div>
</div>

<!--Footer-->
<app-footer></app-footer>