<!--Header/Navbar-->
<app-header></app-header>

<div class="virtual-container">
    <div class="">
        <div class="col-md-6 py-0 text-container">
            <div class="">
                <div class="container mt-4 mb-4 d-flex justify-content-center">
                    <div class="row g-0">
                        <div class="col-md-4 border-right">
                            <div class="cards">
                                <div class="first bg-white p-4 text-center"> <img class="icon-size btn" 
                                    [src]=" largeStablihsments"
                                    type="button"
                                    routerLink="/large-stablishments">
                                    <h5>Grandes Establecmentos</h5>
                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="cards">
                                <div class=" second bg-white p-4 text-center">  <img class="icon-size" [src]=" shoppingMall">
                                    <h5>Galerías Comerciales</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cards">
                                <div class=" third bg-white p-4 text-center">  <img class="icon-size" [src]=" shoppingCart">
                                    <h5>Centros Comerciales</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cards">
                                <div class=" third bg-white p-4 text-center"> <img class="icon-size" [src]="   comercialMarket ">
                                    <h5>Mercados Municipales</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cards">
                                <div class=" third bg-white p-4 text-center"><img class="icon-size" [src]=" fairMarkets">
                                    <h5>Mercados y Ferias</h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<app-footer></app-footer>