<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid nav-spacing">
            <a routerLink='/home' class="navbar-brand">{{'components.header.section1.title' | translate}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mt-3 nav-spacing" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a routerLink='home' routerLinkActive="active" class="nav-link  "
                            aria-current="page">{{'components.header.section2.title' | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='' routerLinkActive="active" class="nav-link">{{'components.header.section3.title'
                            | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink='' routerLinkActive="active" class="nav-link">{{'components.header.section4.title'
                            | translate}}</a>
                    </li>

                </ul>

                <ul class="navbar-nav me-right mt-2 language-link">

                    <app-language-changer>

                    </app-language-changer>

                    <li class="nav-link login-spacing pt-1">
                        <a class="nav-link language-link" (click)="openLoginForm()">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>