/* reset any default icon outlines and shadows */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: none;
}
/* reset any padding or margin for bar icons */
.navbar-toggler span{
    margin:0;
    padding:0;
}

.navbar-toggler{
    width: 50px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;
}

/* basic properties of menu icon elements */
.toggler-icon{
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background: #fff;
    border-radius:1px;
    opacity:1;
    left:0;
    transform:rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar{
    margin-top:0;
}

/* Hamburger Icon initial state */

.navbar-toggler .top-bar{
    
    margin-top:-20px;
    transform:rotate(0deg);
}

.navbar-toggler .middle-bar{
    opacity:1;
    filter:alpha(opacity=100);
    
}

.navbar-toggler .bottom-bar{
    margin-top:20px;
    transform:rotate(0deg);
}

/* Hamburger Icon state change on click*/
.navbar-toggler.show .top-bar{
    margin-top:0;
    transform:rotate(135deg);
}

.navbar-toggler.show .middle-bar{
    opacity:0;
    filter:alpha(opacity=0);
}

.navbar-toggler.show .bottom-bar{
    margin-top:0;
    transform:rotate(-135deg);
}




.dropdown-menu {
    background-color: 	#000000;
    width: 15%;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    border-radius: 0;
}
.nav-list{
    padding-left: 25%;
}
.nav-spacing {
    padding-left: 3%;
}

.language-link {
    width: 30%;
}

.language-link a {
    padding: 3px;
}

.login-spacing {
    margin-left: 70px;
    width: 100%;
    /* padding: 8px; */
}

@media screen and (max-width: 1280px) {
    .login-spacing {
        margin-left: 0;
    }
    .language-link a {
        padding: 0px;
    } 
}

@media(max-width:768px) {
    .language-link {
        width: 30%;
        padding-left: 0;
    }
}

@media(min-width:985px) {
    .dropdown-menu {
        width: 200px;
    }
}