<!-- CASE 1 -->
<showcase-case-title [title]="case1.title" [innerHtmlSubtitle]="case1.subtitle"></showcase-case-title>
<mat-grid-list [cols]="colTotal" [rowHeight]="rowHeightProp">
    <mat-grid-tile>

        <!-- VIRTUAL-ASSISTANT-CONTAINER -->
        <virtual-assistant-container
        [containerHeight]="'395px'" [containerWidth]="'450px'">

            <!-- VIRTUAL-ASSISTANT-ACCORDION -->
            <virtual-assistant-accordion 
                [accordionDataInput]="dataSource"
                (accordionDataOutput)="getDataFromAccordion($event)">
            </virtual-assistant-accordion>
            <!-- END VIRTUAL-ASSISTANT-ACCORDION -->

        </virtual-assistant-container>
        <!-- END VIRTUAL-ASSISTANT-CONTAINER -->

    </mat-grid-tile>

    <mat-grid-tile>

        <!-- VIRTUAL-ASSISTANT-CONTAINER -->
        <virtual-assistant-container
        [containerHeight]="'395px'">

            <!-- VIRTUAL-ASSISTANT-LIST -->
            <virtual-assistant-list
                [listDataInput]="dataShared">
            </virtual-assistant-list>
            <!-- END VIRTUAL-ASSISTANT-LIST -->

        </virtual-assistant-container>
        <!-- END VIRTUAL-ASSISTANT-CONTAINER -->

    </mat-grid-tile>
    <mat-grid-tile>
        <showcase-code-copy-container [code]="case1"></showcase-code-copy-container>
    </mat-grid-tile>
</mat-grid-list>
<!-- END CASE 1 -->
