<app-header></app-header>
<div class="container mb-5 pb-3">
    <h4 class="m-3 fw-bold"> Virtual Assistant </h4>
    <div class="row">
        <div class="col-12 col-md-6 mb-5 baList">

            <!-- APP-VIRTUAL-ASSISTANT-ACCORDION -->
            <app-virtual-assistant-accordion 
                [accordionDataInput]="dataSourceCategory"
                (accordionDataOutput)="getDataFromAccordion($event)">
            </app-virtual-assistant-accordion>
            <!-- END APP-VIRTUAL-ASSISTANT-ACCORDION -->

        </div>

        <div class="col-12 col-md-6">

            <!-- APP-VIRTUAL-ASSISTANT-BUTTONS-CONTAINER -->
            <app-virtual-assistant-buttons-container
                mainButtonText="{{ 'common.button.save' | translate }}"
                mainButtonBackground="primary"
                [mainButtonFunction]="onClickSaveButton" 
                secondaryButtonText="Ver Resumen" 
                secondaryButtonBackground=""
                [secondaryButtonFunction]="onClickResumeButton">

                    <!-- APP-VIRTUAL-ASSISTANT-TREE -->
                    <app-virtual-assistant-tree
                        [treeDataInput]="dataSourceCategory">
                    </app-virtual-assistant-tree>
                    <!-- END APP-VIRTUAL-ASSISTANT-TREE -->

                    <!-- APP-VIRTUAL-ASSISTANT-LIST -->
                    <app-virtual-assistant-list
                        [listDataInput]="dataShared">
                    </app-virtual-assistant-list>
                    <!-- END APP-VIRTUAL-ASSISTANT-LIST -->
                
            </app-virtual-assistant-buttons-container>
            <!-- END APP-VIRTUAL-ASSISTANT-BUTTONS-CONTAINER -->

        </div>
    </div>
</div>
<app-footer></app-footer>
