<app-header></app-header>

<div class="container mb-5 pb-3">

    <h4 class="m-3 fw-bold"> Virtual Assistant </h4>
    <div class="row">

        <div class="col-12 col-md-6 mb-5 baList">
            <app-virtual-assistant-accordion></app-virtual-assistant-accordion>
        </div>

        <div class="col-12 col-md-6">
            <div class="card baList">
                <div class="card-body">
                    <app-virtual-assistant-tree [dataToShow]="data"></app-virtual-assistant-tree>
                    <app-virtual-assistant-data-save [data]="dataSend"></app-virtual-assistant-data-save>
                </div>
                <div>
                    <button class="btn btn-success float-end m-4 px-5">{{'common.button.save' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
