#resultsTitle {
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.card-body {
    padding: 16px;
}

.establishmentName {
    font-weight: bold;
}

.resultsList {
    overflow-y: scroll;
    overflow-x: visible;
    max-height: 380px;
}

.resultsButtons {
    padding-top: 16px;
}

button {
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

#saveResultsBtn {
    background: #2c5e8f;
}

#downloadResultsBtn {
    background: #5CB85C;
}

#saveResultsBtn:hover {
    background: #143250;
    color: white;
}

#downloadResultsBtn:hover {
    background: #165716;
    color: white;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}