<app-header></app-header>

<div class="container mb-lg-5 main-container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col m-5 me-0 ms-3 results-card">
            <div class="p-3 ms-8 border bg-light" >
                <h2 class=" ps-5 pt-4 fw-bold mb-3">Resultados</h2>
                <div class="data" *ngIf="true" id="pdfData">
                    <div class="d-flex flex-column mb-4" *ngFor = "let ls of LSData">
                        <h5 class="details">{{ls.name}}
                        </h5>
                        <ul class="result-container list-unstyled" *ngFor = "let address of ls.addresses ">
                            <!--*ngFor must be added!-->
                            <li *ngIf ="address.street_name" >{{address.street_name}}, {{address.number}}</li>
                            <li *ngIf = "address.town">{{address.zip_code}} {{address.town}}</li>
                            <li *ngIf = "ls.email">Email: {{ls.email}}</li>
                            <li *ngIf = "ls.web">Web: {{ls.web}}</li>
                            <li *ngIf = "ls.phone">Tel.:{{ls.phone}}</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button style="background: #2c5e8f;"
                            class="btn btn-lg me-md-2 mt-4 me-4 justify-content-center text-white fw-bolder rounded-0"
                            type="button">Guardar Resultados</button>
                    <button style="background: #5CB85C;"
                            class="btn btn-lg me-md-2 mt-4 me-4 justify-content-center text-white fw-bolder rounded-0"
                            type="button" (click)="openPDF()">Descargar Resultados
                    </button>
                </div>
            </div>
        </div>

        <div class="col m-5 mx-3">
            <div class="p-3 border bg-light text-center">
                <app-mapbox></app-mapbox>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>