

  .data{
    overflow-y: scroll;
    overflow-x: visible;
    height:280px;
}

  
  button{
    font-size: 1rem;
  }
  

.bg-blue {
    background: #2c5e8f;
}

.bg-green {
    background-color:#5CB85C;
}

.text-sm {
  font-size: .8rem;
}

.bg-gray {
  background-color: rgba(197, 201, 205, 0.769);

}



