
  .wrapp{
    margin-top: 50px;
  }
  
  .data{
    overflow-y: scroll;
    overflow-x: visible;
    min-height: 460px;
  }
  
  button{
    font-size: 1rem;
  }


  .text-small{
    font-size: .8rem;
  }

  .text-grey{
    color:rgb(90, 90, 91);
  }

  .bg-blue{
    background: #2c5e8f;
  }

  .bg-green{
    background: #5cb85c;
  }

