<div class="container mb-lg-5 main-container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-6 m-5 me-0 ms-3 results-card">
      <div class="p-3 ms-8 border bg-light">
        <h2 class="ps-5 pt-4 fw-bold mb-3">
          {{ "common.title.results" | translate }}
        </h2>
        <div class="data" *ngIf="true" id="pdfData">
          <div class="d-flex flex-column mb-4" *ngFor="let ls of LargeEstablishmentsData">
            <h5 class="details">{{ ls.name }}</h5>
            <ul class="result-container list-unstyled" *ngFor="let address of ls.addresses">
              <!--*ngFor must be added!-->
              <li *ngIf="address.street_name">
                {{ address.street_name }}, {{ address.number }}
              </li>
              <li *ngIf="address.town">
                {{ address.zip_code }} {{ address.town }}
              </li>
              <li *ngIf="ls.email">Email: {{ ls.email }}</li>
              <li *ngIf="ls.web">Web: {{ ls.web }}</li>
              <li *ngIf="ls.phone">Tel.:{{ ls.phone }}</li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button style="background: #2c5e8f"
            class="btn btn-lg me-md-2 mt-4 me-4 justify-content-center text-white fw-bolder rounded-0"
            (click)="open(saveSearch)" type="button">
            {{ "common.button.save-results" | translate }}
          </button>

          <div class="dropdown">
            <button style="background: #5cb85c"
              class="btn btn-lg me-md-2 mt-4 me-4 justify-content-center text-white fw-bolder rounded-0 dropdown-toggle"
              type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{ "common.button.download-results" | translate }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item"
                  (click)="savePdf()">{{"pages.big-stablish-detail.dropdown.download"|translate}}</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="openPdf()">{{"pages.big-stablish-detail.dropdown.open"|translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 m-5 mx-3">
      <div class="p-3 border bg-light text-center">
        <!-- ARRAY PROVISIONAL. FILTRAT I ENVIAT -->
        <app-mapbox [filteredResultsToPrintOnMap]="LargeEstablishmentsData"></app-mapbox>
      </div>
    </div>
  </div>
</div>

<!-- Save Search Modal -->
<ng-template #saveSearch let-modal>
  <div class="modal-body rounded-0 p-4">
    <h4 class="modal-title fw-bolder">
      {{ "pages.big-stablish-detail.saveSearchModal.title" | translate }}
    </h4>
    <hr class="mx-2" />
    <form [formGroup]="saveSearchForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label for="nombre" class="ps-3 fs-5">{{
          "pages.big-stablish-detail.saveSearchModal.name" | translate
          }}</label>
        <input type="text" name="nombre" formControlName="nombre" [class.is-invalid]="inputInvalid('nombre')"
          class="form-control form-control-lg fw-bold mt-2 rounded-0" />
        <p class="text-danger" *ngIf="inputInvalid('nombre')">
          {{ "pages.big-stablish-detail.saveSearchModal.msgError" | translate }}
        </p>
      </div>
      <div class="mb-4">
        <label for="detalles" class="ps-3 fs-5">{{
          "pages.big-stablish-detail.saveSearchModal.detail" | translate
          }}</label>
        <input type="text" name="detalles" formControlName="detalles" [class.is-invalid]="inputInvalid('detalles')"
          class="form-control form-control-lg fw-bold mt-2 rounded-0" />
        <p class="text-danger" *ngIf="inputInvalid('detalles')">
          {{ "pages.big-stablish-detail.saveSearchModal.msgError" | translate }}
        </p>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-lg justify-content-center text-white fw-bolder rounded-0"
          style="background-color: firebrick" (click)="closeModal()">
          {{
          "pages.big-stablish-detail.saveSearchModal.button.discard"
          | translate
          }}
        </button>
        <button type="submit" class="btn btn-lg text-white fw-bolder rounded-0" style="background-color: #2c5e8f">
          {{
          "pages.big-stablish-detail.saveSearchModal.button.save" | translate
          }}
        </button>
      </div>
    </form>
  </div>
</ng-template>