/* .results-card{
    min-width: 55%;
<<<<<<< HEAD:src/app/modules/home/large-stablishments-detail-page/large-stablishments-detail-page.component.css
} */



  
  
  .result-container{
    padding-left: 14%;
  }
  .details{
    padding-left: 12%;
  }
  
  .data{
    overflow-y: scroll;
    overflow-x: visible;
    max-height:281px;
}

button{
    max-height:300px;
  }
  
  button{
    font-size: 1rem;
  }
  
  @media (max-width:768px) {
    .ps-5{
        padding-left: 1.1rem !important;
    }

}

.bg-blue {
    background: #2c5e8f;
}

.bg-green {
    background-color:#5CB85C;
}



