<app-header></app-header>

<div class="container mb-lg-5 main-container bg-succes p-md-0">

  <div class="row d-flex justify-content-center align-items-center mt-5">

    <!-- resultats -->
    <div class="col-12 col-lg-5 p-0 my-3 results-card">
      <div class="border bg-light p-3 shadow">
        <h2>
          {{ "common.title.results" | translate }}
        </h2>
        <hr>
        <div class="data p-4" *ngIf="true" id="pdfData">
          <div
            class="d-flex flex-column"
            *ngFor="let ls of LargeEstablishmentsData"
          >
            <h5 class="details">{{ ls.name }}</h5>
            <ul
              class="result-container list-unstyled text-sm"
              *ngFor="let address of ls.addresses"
            >
              <!--*ngFor must be added!-->
              <li *ngIf="address.street_name">
                {{ address.street_name }}, {{ address.number }}
              </li>
              <li *ngIf="address.town">
                {{ address.zip_code }} {{ address.town }}
              </li>
              <li *ngIf="ls.email">Email: {{ ls.email }}</li>
              <li *ngIf="ls.web">Web: {{ ls.web }}</li>
              <li *ngIf="ls.phone">Tel.:{{ ls.phone }}</li>
              <li></li>
            </ul>
          </div>
        </div>


        <div class="d-grid gap-2 d-md-flex me-4 justify-content-md-end mt-4 pt-2">

          <button
            style="background: #2c5e8f"
            class="btn text-white w-100 w-md-50 px-1 rounded-0"
            (click)="open(saveSearch)"
            type="button"
          >
          {{ "common.button.save-results" | translate }}
          </button>


          <div class="dropdown w-100 w-md-50">
            <button
              class="btn px-1 text-white rounded-0 dropdown-toggle bg-green w-100"

              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            {{ "common.button.download-results" | translate }}
            </button>
            <ul class="dropdown-menu rounded-0 w-100 mt-1 text-sm bg-gray" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" (click)="savePdf()"
                  >{{"pages.big-stablish-detail.dropdown.download"|translate}}</a
                >
              </li>
              <li>
                <a class="dropdown-item" (click)="openPdf()">{{"pages.big-stablish-detail.dropdown.open"|translate}}</a>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>






    <!-- map -->

    <div class="col-12 col-lg-5 m-3 p-0 bg-light p-2 shadow">
      <div class=" text-center">
        <!-- ARRAY PROVISIONAL. FILTRAT I ENVIAT -->
        <app-mapbox
          [filteredResultsToPrintOnMap]="LargeEstablishmentsData"
        ></app-mapbox>
      </div>
    </div>

    

  </div>
</div>

<!-- Save Search Modal -->
<ng-template #saveSearch let-modal>
  <div class="modal-body rounded-0 p-4">
    <h4 class="modal-title fw-bolder">
      {{ "pages.big-stablish-detail.saveSearchModal.title" | translate }}
    </h4>
    <hr class="mx-2" />
    <form [formGroup]="saveSearchForm" (submit)="onSubmit()">
      <div class="mb-4">
        <label for="nombre" class="ps-3 fs-5">{{
          "pages.big-stablish-detail.saveSearchModal.name" | translate
        }}</label>
        <input
          type="text"
          name="nombre"
          formControlName="nombre"
          [class.is-invalid]="inputInvalid('nombre')"
          class="form-control form-control-lg fw-bold mt-2 rounded-0"
        />
        <p class="text-danger" *ngIf="inputInvalid('nombre')">
          {{ "pages.big-stablish-detail.saveSearchModal.msgError" | translate }}
        </p>
      </div>
      <div class="mb-4">
        <label for="detalles" class="ps-3 fs-5">{{
          "pages.big-stablish-detail.saveSearchModal.detail" | translate
        }}</label>
        <input
          type="text"
          name="detalles"
          formControlName="detalles"
          [class.is-invalid]="inputInvalid('detalles')"
          class="form-control form-control-lg fw-bold mt-2 rounded-0"
        />
        <p class="text-danger" *ngIf="inputInvalid('detalles')">
          {{ "pages.big-stablish-detail.saveSearchModal.msgError" | translate }}
        </p>
      </div>
      <div class="d-flex justify-content-end gap-2">
        <button
          type="button"
          class="btn btn-lg justify-content-center text-white fw-bolder rounded-0"
          style="background-color: firebrick"
          (click)="closeModal()"
        >
          {{
            "pages.big-stablish-detail.saveSearchModal.button.discard"
              | translate
          }}
        </button>
        <button
          type="submit"
          class="btn btn-lg text-white fw-bolder rounded-0 bg-blue"
        >
          {{
            "pages.big-stablish-detail.saveSearchModal.button.save" | translate
          }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<app-footer></app-footer>
