<mat-accordion *ngFor="let category of dataInput; let i=index">
    <mat-expansion-panel hideToggle class="margin-list">
        <mat-expansion-panel-header class="list-height fs-5">
            <mat-panel-title class="text-white">
                {{category.title | translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="fw-bold fs-6 m-4" *ngFor="let subcat of category.subcategory; let e=index">
            <div (click)="items(e)">
                {{subcat.title | translate}}
            </div>
            <div *ngFor="let items of subcat.items" class="itemSelected fw-normal m-4" (click)="saveData(items.item)">
                <div *ngIf="item == e && isOpen">
                    {{ items.item | translate}}
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>