body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
}
a {
  cursor: pointer;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid rgb(197, 191, 191);
  margin: 25px;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.02);
  background-color: rgb(92, 197, 98);
}

.virtual-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 100%;
  padding-right: 0;
}

.nav-link h5{
  color: #fff;
  transition: 0.2s all;
}
.nav-link {
  color: #808080;
  transition: 0.2s all;
}
.nav-link:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
  color: grey;
  transition: 0.2s all;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
}

.map-container {
  top: 0px;
  right: 0px;
  width: auto;
  height: 435px;
}

/* These are the styles affecting the login and register modal properties which are generated by bootstrap outside of its own component */
.modal-sizer{
  max-width:550px;
}

.modal-holder .modal-content{
  border-radius: 0px;
}

.modal-backdrop{
  background-color: rgba(255,255,255,0.5);
}

.modal-content{
  border:none;
  border-radius:0px !important;
  padding-top:0;
  
}

.modal-header{
  border-bottom:0.5px solid #707070 !important;
  padding-top:0;
}

.modal-title{
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.modal-body{
  padding:0;
}

.modal-footer{
  padding-top:0;
}

.submit-button{
  color:white;
  border-radius:0;
  padding:1rem;
  font-size:1.5rem;
  font-weight:700;
  border:none;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
  }

  .modal-dialog .modal-content {
      padding: 0 1rem 1rem 1rem;
  }
}
  
.search-button{
  background-color:#3B79BF;
  border:none;
  padding:0.5rem 3.5rem;
  color:#ffffff;
  font-size:1.25rem;
  font-weight:bold;
  margin-right:0.5rem;
  margin-bottom:0.5rem;
}