body {
  background-color: #dddddd;
}
a {
  cursor: pointer;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid rgb(197, 191, 191);
  margin: 25px;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.02);
  background-color: rgb(92, 197, 98);
}
.virtual-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 100%;
  padding-right: 0;
}

.nav-link{
  color:grey;
  transition: 0.2s all;
}
.nav-link:hover{
  color:white;
}


