body {
  background-color: #dddddd;
  font-family: 'Open Sans', sans-serif;
}
a {
  cursor: pointer;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid rgb(197, 191, 191);
  margin: 25px;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.02);
  background-color: rgb(92, 197, 98);
}
.btn-effect-r {
  transition: all 0.3s ease-in-out;
}
.btn-effect-r:hover {
  background-image: linear-gradient(
    to right,
    #034f84,
    #035f86,
    #1084aa,
    #034f84
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-effect-l:hover {
  background-image: linear-gradient(
    to right,
    #77b73b,
    #78b75b,
    #78b75b,
    #64bd10
  );
  box-shadow: 0 4px 15px 0 rgba(133, 234, 65, 0.75);
}
.virtual-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 100%;
  padding-right: 0;
}

.nav-link {
  color: grey;
  transition: 0.2s all;
}
.nav-link:hover {
  color: #ffff;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
  color: grey;
  transition: 0.2s all;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
}

.map-container {
  top: 0px;
  right: 0px;
  width: auto;
  height: 435px;
}

/* These are the styles affecting the login modal properties which are generated by bootstrap outside of its own component */
.modal-sizer{
  max-width:550px;
}

.modal-holder .modal-content{
  border-radius: 0px;
}

.modal-backdrop{
  background-color: rgba(255,255,255,0.5);
}
