<app-header></app-header>

<div class=" main-container">
  <div class="row ">
    <div class="col box">
      <div class="p-3 ms-8 border bg-light card-contents">
        <h2 class=" ps-5 pt-4 fw-bold mb-3 title-left">{{'pages.big-stablish.section1.title'| translate}}
        </h2>
        <div class="" *ngFor="let zone of bcnZones">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="false" (change)="largeStablishmentZonesSelected(zone, $event.target)">
            <label class="form-check-label" for="flexCheckDefault">
              {{ zone.zoneName }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col  box">
      <div class="p-3 border bg-light">
        <h2 class=" title-right ps-5 pt-4 fw-bold mb-3">{{'pages.big-stablish.section2.title' | translate}}</h2>
  <div class="data">
    <div *ngFor="let activity of largeStablishmentActivities">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-activity" [checked]="false" (change)="largeStablishmentActivitySelected(activity, $event.target)">
        <label class="form-check-label" for="flexCheckDefault">
          {{ activity.activityName}}
        </label>
      </div>
    </div>
  </div>


        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button (click)="largeStablishmentActivitySearch()"
                  routerLink="/large-stablishments-detail"
                  class="search-button"
                  type="button">
                  {{'common.button.search' | translate}}
          </button>

        </div>


      </div>


    </div>
  </div>
</div>



<app-footer></app-footer>