<app-header></app-header>

<div class="container mb-lg-5 main-container">
  <div class="row ">
    <div class="col m-5">
      <div class="p-3 ms-8 border bg-light pb-5">
        <h2 class=" ps-5 pt-4 fw-bold mb-3" style="color: #5CB85C;">{{'pages.big-stablish.section1.title'| translate}}
        </h2>
        <div class="">

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Ciutat Vella
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Eixample
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Sants - Montjuic
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Les Corts
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Sarria - Sant Gervasi
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Gràcia
            </label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Horta - Guinardó
            </label>
          </div>


          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Nou Barris
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Sant Andreu
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Sant Martí
            </label>
          </div>



        </div>
      </div>


    </div>

    <div class="col m-5">
      <div class="p-3 border bg-light">
        <h2 class=" text-primary ps-5 pt-4 fw-bold mb-3">{{'pages.big-stablish.section2.title' | translate}}</h2>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Téxtil para el hogar
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Impresoras
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Informática y telecomunicaciones
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Téxtil para el hogar
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Informática y telecomunicaciones
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Impresoras
          </label>
        </div>


        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Téxtil para el hogar
          </label>
        </div>


        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Impresoras
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Impresoras
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-activity">
          <label class="form-check-label" for="flexCheckDefault">
            Impresoras
          </label>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button (click)="largeStablishmentActivitySearch()"
                  routerLink="/large-stablishments-detail"
                  class="btn btn-lg btn-primary me-md-2 mt-4 me-4 justify-content-center fw-bolder "
                  type="button">
                  {{'common.button.search' | translate}}
          </button>

        </div>


      </div>


    </div>
  </div>
</div>



<app-footer></app-footer>