<div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="w-100 py-1 flex-shrink-0 ">
        <div class="container py-4">
            <div class="row gy-4 gx-5 text-center d-flex justify-content-between">
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="text-white ">Quiénes
                            somos</h5>
                    </a>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink='/home'>Directorio</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="text-white mb-3">Contactar</h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="text-white mb-3">Recursos</h5>
                    </a>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink=''>FAQs</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='/home' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="text-white mb-3">Legal</h5>
                    </a>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink=''>Términos de servicio</a></li>
                    </ul>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink=''>Políticas de seguridad</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="text-white mb-3">Síguenos</h5>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>