<div class="d-flex flex-column h-100">
    <!-- FOOTER -->
    <footer class="bg-dark  w-100 py-1 flex-shrink-0 ">
        <div class="container py-4">
            <div class="row gy-4 gx-5 text-center d-flex justify-content-between">
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class=""><b>{{'components.footer.section1.title' | translate}}</b></h5>
                    </a>
                    <ul class="list-unstyled text-muted">
                        <li><a class="nav-link" routerLink=''>{{'components.footer.section1.item1' |
                                translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class=" mb-3"><b>{{'components.footer.section2.title' | translate}}</b></h5>
                    </a>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="mb-3"><b>{{'components.footer.section3.title' | translate}}</b></h5>
                    </a>
                    <ul class="list-unstyled text-muted">
                        <li><a class="nav-link" routerLink=''>{{'components.footer.section3.item1' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='/home' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class="mb-3"><b>{{'components.footer.section4.title' | translate}}</b></h5>
                    </a>
                    <ul class="list-unstyled text-muted ">
                        <li  class="d-flex justify-content-center"><a class="nav-link" style="width: 8rem;"routerLink=''>{{'components.footer.section4.item1' | translate}}</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled text-muted">
                        <li class="d-flex justify-content-center" ><a class="nav-link" style="width: 8rem;" routerLink=''>{{'components.footer.section4.item2' | translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <a routerLink='' routerLinkActive="active" class="nav-link  " aria-current="page">
                        <h5 class=" mb-3"><b>{{'components.footer.section5.title' | translate}}</b></h5>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>