.container {
    padding: 2rem 0rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}


.btn-round {
    border-radius: 3rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}