<div class="modal-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h4 class="modal-title text-center">Login</h4>
                <button type="button" class="btn-close mt-0" data-dismiss="modal" aria-label="Close"
                    (click)="closeLoginForm()">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column text-center">
                    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                        <div class="form-group">
                            <label class="d-flex justify-content-start" for="email">Email</label>
                            <input type="email" class="form-control" formControlName="email" id="email"
                                placeholder="Your email address..."
                                [ngClass]="{'is-invalid':submitted && getControl['email'].errors}" required>
                            <div *ngIf="submitted && getControl['email'].errors" class="invalid-feedback">Debe
                                ingresar
                                el usuario
                            </div>
                            <div class="form-group">
                                <label class="d-flex justify-content-start" for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password" id="password"
                                    placeholder="Your password.."
                                    [ngClass]="{'is-invalid':submitted && getControl['password'].errors}" required>
                                <div *ngIf="submitted && getControl['password'].errors" class="invalid-feedback">Debe
                                    ingresar el password
                                </div>
                                <div *ngIf="submitted && getControl['password'].errors && getControl['email'].errors"
                                    class="invalid-feedback">Usuario y/o contraseña incorrectos
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-info btn-round mt-3">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
            </div>
        </div>
    </div>
</div>